<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3">
    <div class="container">
        <div class="text-left ">
            <a routerLink="../posts/create" class="btn btn-primary">
                Create new post
            </a>

        </div>
        <div class="text-right">
            <button class="btn btn-outline-primary" (click)="logout()">Logout</button>

        </div>
    </div>

</nav>
<div class="row">
    <div class="col-6" *ngFor="let post of posts | async">
        <app-post-card [post]="post">

        </app-post-card>
    </div>

</div>